.contactContainer {
    padding-top: 6rem;
}

.contactContainer .row {
    background-color: rgba(155, 147, 147, 0.201);
    width: 50rem;
    margin: auto;
    border-radius: 25px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.contactContainer form {
    text-align: center;
}

legend {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
}

.labelAbove {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    padding-left: 3.5rem; /* Image span width 2.5rem + image margin 1rem to be centered */
}

.contactContainer textarea {
    width: 50%;
    height: 12rem;
    resize: none;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.formLogo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.2rem solid #141516;
    margin-right: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* !!! If width and margin is modified, modify .labelAbove padding-left !!! */
}

.formLogo img {
    width: 1.8rem;
    height: 1.8rem;
    display: block;
}

.input-type1 {
    width: 30%;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0.2rem solid #141516;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.inputLabel-type2 {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.contactContainer h2 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.contactContainer .button {
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 25px;
    background-color: #9e9fa0;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.contactContainer #Reset {
    margin-right: 1rem;
}

.contactContainer .button:hover {
    background-color: #7e7f80;
}

.contactInfo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #b5babe;
    font-size: 1.5rem;
    font-weight: 500;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    margin-bottom: 1rem;
    color: #b5babe;
}

.contactText {
    margin-bottom: 1rem;
}

a[href^="mailto:"],
a[href^="tel:"] {
    color: #b5babe;
    text-decoration: none;
}

a[href^="mailto:"]:hover,
a[href^="tel:"]:hover {
    color: white;
}

/* Responsive Changes */

@media screen and (max-width: 991.5px) {
    .contactContainer .row {
        width: 95%;
    }

}

@media screen and (max-width: 767.5px) {
    .contactContainer .row {
        width: 100%;
    }

    .contactContainer textarea {
        width: 90%;
    }

    .input-type1 {
        width: 70%;
    }

    .contactContainer .button {
        width: 70%;
    }

    .contactContainer #Reset {
        margin-right: 0;
    }

    .contactContainer .button {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
