.counter{
    display: flex;
    
    height: 6rem;
    line-height: 1;

    font-family: "Helvetica";
    font-size: 15px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1rem;
}

.counterNumber{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.counterItem{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #b5b3b3;
    margin-right: 5rem;
    
}

.counterItem:hover {
    color: white;
    cursor: pointer;
}